{% extends "base.html" %}
{% load static %}

<!-- About nav overloading : active -->

{% block navigation_about %}
    <li><a href="{% url "about" %}" class="active"><div>à propos</div></a></li>
{% endblock %}

<!-- About nav overloading : END -->


<!-- Main content -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="page-title">
              <h1 class="heading">En <b>mouvement<b></h1>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="avatar-img" src="{{ about.photo.url }}"/>
        </div>
        <div class="col-md-6 col-sm-12 margin-top-35">
            <h1>{{ about.titre }}</h1>
                <p><font size="-1">{{ about.contenu | linebreaksbr }}</font></p>
        </div>
    </div>
</div>

{% endblock %}

<!-- Main content : END -->
