{% extends "base.html" %}
{% load static %}

<!-- stories navigation overloading : active -->
{% block navigation_stories %}
                                <li><a href="{% url "storiesMain" %}">+ stories</a>
                                    <ul>
                                       <li><a href="{% url "storiesDetails" 1 %}">Un automne au Pamir</a></li>
                                        <li><a href="{% url "storiesDetails" 2 %}">Retour au Royaume</a>
                                        <li><a href="{% url "storiesDetails" 3 %}">Singularité kirghize</a>
                                        <li><a href="{% url "storiesDetails" 4 %}">Kelin Salam</a>
                                        </li>
                                    </ul>
                                </li>
{% endblock %}

<!-- stories navigation overloading END -->

<!-- Main content -->
{% block content%}
  <div class="project-single margin-top-100 margin-top-50-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="project-title">
                    <h1>{{ story.titre }}</h1>
                    <p>{{ story.sousTitre }}</p>
                </div>
            </div>
            
            <div class="col-sm-8">
                <div class="project-desc">
                    <p>{{ story.contenu|linebreaks }}</p>
                </div>
            </div>    
            <div class="col-sm-4">
                <ul class="project-meta margin-top-15 margin-bottom-20 post-sidebar">
                <iframe class="iframe" src={{ story.mapFrameLink }}></iframe>
                    <li><span>Où ça ?</span><a href={{ story.mapLink }} target="_blank">{{ story.pays }}</a></li>
                    <li><span>En quelle année ?</span>{{ story.annee }}</li>
                    </li>
                </ul>
            </div>
            
            <div class="col-sm-12 margin-top-20">
                <div id="portfolio-container" class="cbp" data-layoutmode="grid" data-gaphorizontal="30" data-gapvertical="30" data-large-desktop="3" data-medium-desktop="3" data-tablet="2">
                
                <!-- Each image is displayed : FOR -->                   
                   
                {% for image in images %}
                    <div class="cbp-item">
                        <a href="/media/{{ image.img.name }}" class="cbp-caption cbp-lightbox">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-cbp-src="{{ image.img.url }}" width="{{image.img.width }}" height="{{ image.img.height}}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                {% empty %}
                <p>Oups, aucun article pour le moment !</p>
                <!-- Default value if no image is found : END -->

                {% endfor %}
                <!-- Each image is displayed : END FOR -->                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- Main content : END -->
