{% load static %}

<!DOCTYPE html>

<html dir="ltr" lang="en-US">

    <head>
        
        <!-- Metas -->      
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Maxime" />
        
        <!-- Links -->      
        <link href="https://fonts.googleapis.com/css?family=Baskervville|Raleway|Ubuntu:300,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Zilla+Slab:300&display=swap" rel="stylesheet"> 
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/cubeportfolio.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
        
        <!-- Document Title -->      
        <title> {% block title %}maxime boulanghien | Photographie{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    </head>

    <body>
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="standard">
                <div class="header-wrapper">
                    <div class="container">
                        <div id="logo">
                            <a href="{% url "storiesMain" %}">
                                <div>maxime boulanghien</div>
                            </a>
                        </div>
                        <span id="menu-trigger"><span></span></span>

                        <nav id="main-menu">
                            <ul>
                            {% block navigation_stories %}
                                <li><a href="{% url "storiesMain" %}">+ stories</a>
                                    <ul>
                                       <li><a href="{% url "storiesDetails" 1 %}">Un automne au Pamir</a></li>
                                        <li><a href="{% url "storiesDetails" 2 %}">Retour au Royaume</a>
                                        <li><a href="{% url "storiesDetails" 3 %}">Singularité kirghize</a>
                                        <li><a href="{% url "storiesDetails" 4 %}">Kelin Salam</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endblock %}

                            {% block navigation_blog %}
                                <li><a href="{% url "blogList" %}">+ blog</a></li>
                            {% endblock %}

                            {% block navigation_about %}
                                <li><a href="{% url "about" %}">à propos</a></li>
                            {% endblock %}

                            {% block navigation_contact %}
                                <li><a href="{% url "contact" %}">contact</a></li>
                            {% endblock %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- Header Ends -->

            <!-- Content Wrapper -->
            <div id="content-wrapper">

                <!-- Main Wrapper -->
                <div id="main-wrapper">

                            {% block content%}
                            {% endblock %}

                </div>    
                <!-- Main Wrapper Ends -->

                <!-- Footer -->
                <footer id="footer" class="standard">
                {% block footer %}

                    <div class="container">
                        <div class="row">
                            <div>
                                <a href="https://www.instagram.com/maxjme.bn/" target="_blank">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                                <a href="https://gitlab.com/maximebn" target="_blank">
                                    <ion-icon name="logo-gitlab"></ion-icon>
                                </a>
                                <a href="https://djangoproject.com/" target="_blank">
                                    <ion-icon name="rocket"></ion-icon>
                                </a>
                            </div>
                            <br>
                            <div class="copyrights">                                    
                                 <a class="copyrights">artisanat logiciel, réalisé avec Django &nbsp - &nbsp 2021 &nbsp -</a>
                                 <a class="copyrights-policy" href="{% url "mentions" %}">
                                 &nbsp mentions légales &nbsp -</a>  <a class="copyrights-policy" href="{% url "policy" %}">
                                 &nbsp données</a>
                            </div>
                        </div>
                    </div>

                {% endblock %}
                </footer>
                <!-- Footer Ends -->

            </div>
            <!-- Content Wrapper Ends -->

        </div> 
        <!-- Page Wrapper Ends -->
        
        <!-- Scripts -->
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/superfish.js' %}"></script>
        <script src="{% static 'js/cubeportfolio.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Scripts Ends -->
    </body>
</html>